.User{
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.User:hover {
    background-color: rgba(0, 0, 0, 0.3) ;
}
.User:not(:last-child){
    margin-bottom: 10px;
}

.User img{
    border-radius: 100%;
    width: 4rem;
    height: 90%;
    box-sizing: border-box;
    padding: 13px;
    
} 
.user-info {
    margin: 8px 5px;
}

.user-info span:first-child{
    font-size: 1rem;
}

.user-info span{
    display: inline-block;
    margin: 5px 0;
}

